<div id="<%= dom_id content %>">
  <% if content.image.attached? %>
    <%= image_tag content.image %>
  <% end %>
  <p>
    <strong>Titolo:</strong>
    <%= content.titolo %>
  </p>
  <p>
    <strong>Descrizione:</strong>
    <%= content.descrizione %>
  </p>
  <p>
    <strong>Price (minimo 50 cents):</strong>
    <%= content.price %>
  </p>
</div>
